In [13]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import tensorflow as tf

# Import our input dataset
diabetes_df = pd.read_csv('diabetes.csv')
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [14]:
#Remove diabetes outcome target from feature data
y=diabetes_df.Outcome
X = diabetes_df.drop(columns='Outcome')

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [15]:
# Preprocess numerical data for neural network

# Create a StandardScaler instance
scaler = StandardScaler()

#fit the StdScaler
X_scaler = scaler.fit(X_train)

#scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
#Define the logistc regression model
log_classifier = LogisticRegression(solver ='lbfgs', max_iter=200)

#train the model
log_classifier.fit(X_train, y_train)

#evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.729

In [17]:
# Define the basic neural network model
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=8))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

ValueError: Failed to find data adapter that can handle input: <class 'numpy.ndarray'>, <class 'pandas.core.series.Series'>

# Support Vector Machine Vs. Deep Learning Model

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [19]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [20]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

/Users/joseco/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [21]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

/Users/joseco/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [22]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Create the SVM model
svm = SVC(kernel='linear')

In [24]:
# Train the model
svm.fit(X_train, y_train)

SVC(kernel='linear')

In [25]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [26]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the # Random Forest Vs. Deep Learning Model
test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 22857 samples
Epoch 1/50
22857/22857 [==============================] - 2s 78us/sample - loss: 0.6410 - accuracy: 0.7638
Epoch 2/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.4734 - accuracy: 0.8734
Epoch 3/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.4148 - accuracy: 0.8734
Epoch 4/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3909 - accuracy: 0.8734
Epoch 5/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3825 - accuracy: 0.8734
Epoch 6/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3798 - accuracy: 0.8735
Epoch 7/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3720 - accuracy: 0.8729
Epoch 8/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3681 - accuracy: 0.8735
Epoch 9/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3669 - accuracy: 0.8737
Epoch 10/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3662 - accuracy: 0.8735
Epoch 11/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3662 - accuracy: 0.8739
Epoch 12/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3653 - accuracy: 0.8738
Epoch 13/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3652 - accuracy: 0.8736
Epoch 14/50
22857/22857 [==============================] - 1s 43us/sample - loss: 0.3648 - accuracy: 0.8736
Epoch 15/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3648 - accuracy: 0.8738
Epoch 16/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3645 - accuracy: 0.8735
Epoch 17/50
22857/22857 [==============================] - 1s 34us/sample - loss: 0.3644 - accuracy: 0.8738
Epoch 18/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3643 - accuracy: 0.8739
Epoch 19/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3641 - accuracy: 0.8737
Epoch 20/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3640 - accuracy: 0.8737
Epoch 21/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3637 - accuracy: 0.8740
Epoch 22/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3637 - accuracy: 0.8738
Epoch 23/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3636 - accuracy: 0.8736
Epoch 24/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3635 - accuracy: 0.8740
Epoch 25/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3632 - accuracy: 0.8740
Epoch 26/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3629 - accuracy: 0.8737
Epoch 27/50
22857/22857 [==============================] - 1s 34us/sample - loss: 0.3630 - accuracy: 0.8737
Epoch 28/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3626 - accuracy: 0.8735
Epoch 29/50
22857/22857 [==============================] - 1s 35us/sample - loss: 0.3625 - accuracy: 0.8738
Epoch 30/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3623 - accuracy: 0.8738
Epoch 31/50
22857/22857 [==============================] - 1s 59us/sample - loss: 0.3621 - accuracy: 0.8740
Epoch 32/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3620 - accuracy: 0.8740
Epoch 33/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3620 - accuracy: 0.8738
Epoch 34/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3618 - accuracy: 0.8740
Epoch 35/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3616 - accuracy: 0.8736
Epoch 36/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3615 - accuracy: 0.8739
Epoch 37/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3615 - accuracy: 0.8737
Epoch 38/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3615 - accuracy: 0.8739
Epoch 39/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3615 - accuracy: 0.8741
Epoch 40/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3615 - accuracy: 0.8737
Epoch 41/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3612 - accuracy: 0.8737
Epoch 42/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3612 - accuracy: 0.8742
Epoch 43/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3613 - accuracy: 0.8736
Epoch 44/50
22857/22857 [==============================] - 1s 35us/sample - loss: 0.3612 - accuracy: 0.8738
Epoch 45/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3612 - accuracy: 0.8736
Epoch 46/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3610 - accuracy: 0.8740
Epoch 47/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3612 - accuracy: 0.8738
Epoch 48/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3610 - accuracy: 0.8737
Epoch 49/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3610 - accuracy: 0.8740
Epoch 50/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3611 - accuracy: 0.8738
7620/1 - 0s - loss: 0.5633 - accuracy: 0.8727
Loss: 0.36825560991532535, Accuracy: 0.8727034330368042

# Random Forest Vs. Deep Learning Model

In [44]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
loans_df = pd.read_csv('loan_status.csv')
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [45]:
loans_cat = loans_df.dtypes[loans_df.dtypes=='object'].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [46]:
enc= OneHotEncoder(sparse=False)

In [47]:
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

encode_df.columns=enc.get_feature_names(loans_cat)
encode_df.head()

/Users/joseco/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [48]:
loans_df = loans_df.merge(encode_df, left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat, 1)
loans_df.head()

/Users/joseco/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [51]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [52]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [53]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

ValueError: Failed to find data adapter that can handle input: <class 'numpy.ndarray'>, <class 'pandas.core.series.Series'>